.barbershop-page{
    margin: 0;
    color: whitesmoke;
}

.barbershop-page .barbershop-page-patern{
    width: 100%;
    height: 130px;
}

.barbershop-page .title{
    position: absolute;
    top: 0;
    color: black;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    text-shadow: 3px 3px 30px white;
}

.barbershop-page .title-service, .title-review{
    text-align: center;
    font-size: 3rem;
}

.barbershop-page .barbershop-page-services{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.barbershop-page .barbershop-page-services .barbershop-page-service-card{
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(245, 245, 245, 0.15);
    width: 250px;
    height: 300px;
}

.barbershop-page .barbershop-page-services .barbershop-page-service-card:hover{
    background-color: rgba(245, 245, 245, 0.25);
    border: 3px solid transparent;
    background:
        /* Culoarea interioară a cardului pe hover (TREBUIE să fie o culoare solidă, nu transparentă) */
            linear-gradient(#222222, #222222) padding-box,

                /* Gradientul pentru border */
            linear-gradient(to right, blue, red) border-box;
    cursor: pointer;
}

.barbershop-page .barbershop-page-services .service-name{
    text-align: center;
}

.barbershop-page .barbershop-page-services .service-duration{
    text-align: end;
    margin-right: 20px;
}

.barbershop-page .barbershop-page-barbers ul {
    list-style: none;
    width: 90%;
    margin: 20px auto;
    display: flex;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.barbershop-page .barbershop-page-barbers li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(245, 245, 245, 0.15);
    width: 250px;
    height: 300px;
}

.barbershop-page .barbershop-page-barbers img{
    width: 150px;
    border-radius: 50%;
}

.barbershop-page .barbershop-page-barbers h3{
    font-size: 1.4rem;
}

.barbershop-page .barbershop-page-barbers button{
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: blue;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.barbershop-page .barbershop-page-barbers button:hover{
    background-color: red;
    cursor: pointer;
}

.barbershop-page .barbershop-page-barbers li:hover{
    border: 3px solid transparent;
    background:
        /* Culoarea interioară a cardului pe hover (TREBUIE să fie o culoare solidă, nu transparentă) */
            linear-gradient(#222222, #222222) padding-box,

                /* Gradientul pentru border */
            linear-gradient(to right, blue, red) border-box;
    cursor: pointer;

}

.barbershop-page .container-reviews{
    color: black;
}

.barbershop-page .container-reviews .review-list{
    list-style: none;
    padding: 0;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.barbershop-page .container-reviews .review-list .review-item{
    border : 3px solid black;
    border-radius: 10px;
    padding: 20px 50px;
    width: 60%;
    margin: 10px auto;
    background-color: white;
}

.barbershop-page .container-reviews .review-list .review-item:hover{
    border: 3px solid transparent;

    /* 2. Aplici metoda cu background-clip */
    background:
        /* Culoarea interioară a cardului pe hover (TREBUIE să fie o culoare solidă, nu transparentă) */
            linear-gradient(#222222, #222222) padding-box,

                /* Gradientul pentru border */
            linear-gradient(to right, blue, red) border-box;

    color: whitesmoke;
    cursor: pointer;
}

.barbershop-page .container-reviews .review-list .review-item .user-review{
    min-width: fit-content;
    display: flex;
    align-items: center;
    padding: 0;
}

.barbershop-page .container-reviews .review-list .review-item .user-review h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.barbershop-page .container-reviews .review-list .review-item .user-review img{
    width: 150px;
    height: 25px;
    margin-left: 20px;
}

.barbershop-page .container-reviews .review-list .review-item p{
    margin: 0;
    margin-top: 10px;
}

/* Butonul principal de adăugare */
.add-review-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.add-review-btn:hover {
    background: linear-gradient(#222222, #222222) padding-box,
    linear-gradient(to right, blue, red) border-box;
    border: 2px solid transparent;
}

/* Cutia formularului */
.review-form-box {
    width: 60%;
    margin: 0 auto 30px auto;
    background-color: rgba(245, 245, 245, 0.15);
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-form-box textarea {
    margin: 0 auto;
    width: 95%;
    height: 100px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.form-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-controls select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.submit-review-btn {
    padding: 10px 25px;
    background-color: blue;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.submit-review-btn:hover {
    background-color: red;
}